extends layout

block content
  h1= title
  p Welcome to #{title}
  p.red Example Usage
  code localhost:/3000
  br
  p.red Expected Output is JSON
  code {"ipaddress":"ip_val","language":"language_val","software":"software_val"}
